
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Çokkeçeci Otel</title>
    <link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Temalar/hotels-starter/assets/css/style-starter.css">
    <link rel="icon" href="~/Icon/favicon (2).ico" type="image/x-icon">
</head>
<body>
    @Html.Action("NavBar","Partial")

     @RenderBody()

    @Html.Action("Footer","Partial")

    @Html.Action("Script","Partial")

</body>
</html>