<section class="w3l-testimonials">
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="title-big text-center">Our Testimonials</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Temalar/hotels-starter/assets/images/team1.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Çokkeçeci Oteller Zinciri, konukseverlik sektöründe öncü bir isimdir. 
                                    Olağanüstü hizmet kalitesi ve unutulmaz konaklama deneyimleriyle tanınan bu zincir, 
                                    her türlü seyahat ihtiyacınıza uygun seçenekler sunar.
                                </div>
                                <div class="name">- Burak Çokkeçeci</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Temalar/hotels-starter/assets/images/team2.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Misafir memnuniyetini en üst düzeyde tutmak için sürekli olarak yatırım yaparak, her bir otelimiz modern olanaklarla donatılmıştır. 
                                    Çokkeçeci Oteller Zinciri, seyahatinizi unutulmaz kılacak eşsiz bir deneyim sunmak için her zaman yanınızdadır.
                                </div>
                                <div class="name">- Mustafa Büyükpoyraz</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Temalar/hotels-starter/assets/images/team3.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Harika Stay Otelleri, seyahat deneyiminizi mükemmelleştiren bir markadır. Misafirlerine samimi bir gülümseme ve kişisel dokunuşla karşılayarak, 
                                    evden uzakta bir ev sunar. 
                                </div>
                                <div class="name">- Nurcan Çokkeçeci</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Temalar/hotels-starter/assets/images/team4.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Şık ve modern tasarımlı odalarımız,
                                    rahat yataklarımız ve birinci sınıf olanaklarımızla, konuklarımıza unutulmaz bir konaklama deneyimi yaşatmayı hedefliyoruz.
                                </div>
                                <div class="name">- Hüsniye Hanım Demirayak</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
