<div class="map-content-9 mt-lg-0 mt-4">
    @using (Html.BeginForm("SendMessage", "Iletisim",FormMethod.Post))
    {
        <form method="post">
            <div class="twice-two">
                <input type="text" class="form-control" name="AdSoyad" id="w3lName" placeholder="Adınız Soyadınız"
                       required="">
                <input type="email" class="form-control" name="Mail" id="w3lSender" placeholder="Mail Adresiniz"
                       required="">
            </div>
            <div class="twice">
                <input type="text" class="form-control" name="Konu" id="w3lSubject"
                       placeholder="Konu Giriniz" required="">
            </div>
            <textarea name="Mesaj" class="form-control" id="w3lMessage" placeholder="Message"
                      required=""></textarea>
            <button type="submit" class="btn btn-contact">Mesajı Gönder</button>
        </form>
    }
</div>
